/* ----------------------------------------------------------------------
Scaffold Primer
---------------------------------------------------------------------- */

.scaffoldPrimer {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* ----------------------------------------------------------------------
Scaffold
---------------------------------------------------------------------- */

.scaffold {
	display: flex;
	height: 100%; /* needed for IE10 */
	min-height: 100%;
	flex-direction: column;
}

.scaffold-hd {
	flex: 0 0 auto;
}

.scaffold-bd {
	flex: 1 0 auto;
}

/* ----------------------------------------------------------------------
Container
---------------------------------------------------------------------- */

.container {
    width: 500px;
	max-width: 100%;
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
}

/* ----------------------------------------------------------------------
Heading
---------------------------------------------------------------------- */

.hdg {
	color: #37668c;
	font-size: 1rem;
	margin: 0 0 20px;
}

.hdg_1 {
	font-size: 2rem;
}

.hdg_2 {
	font-size: 1.9rem;
}

.hdg_3 {
	font-size: 1.9rem;
}

.hdg_4 {
	font-size: 1.8rem;
}

.hdg_5 {
	font-size: 1.7rem;
}

.hdg_6 {
	font-size: 1.6rem;
}

/* ----------------------------------------------------------------------
Vertical Rhythm
---------------------------------------------------------------------- */

.vr {
	margin-bottom: 10px;
}

.vr_x2 {
	margin-bottom: 20px;
}

.vr_x3 {
	margin-bottom: 30px;
}

.vr_x4 {
	margin-bottom: 40px;
}

/* ----------------------------------------------------------------------
Box
---------------------------------------------------------------------- */

.box {
	width: 100%;
	padding: 20px 20px 25px;
	border: 1px solid #d5d5de;
	box-sizing: border-box;
	border-radius: 10px;
	background: #ffffff;
}

/* ----------------------------------------------------------------------
Field
---------------------------------------------------------------------- */

.field {
	display: block;
}

.field + .field {
	margin-top: 10px;
}

.field-label {
	display: block;
	margin-bottom: 5px;
	font-size: 0.8rem;
	color: #7f7f8a;
}

.field-input {
	width: 100%;
	padding: 5px;
	border: 1px solid #7f7f8a;
	box-sizing: border-box;
	border-radius: 3px;
	font-size: 1rem;
}

.field-input_lrg {
	height: 60px;
}

/* ----------------------------------------------------------------------
Button
---------------------------------------------------------------------- */

.btn {
    /* block */
    padding: 8px 10px;
    margin: 0;
    border-width: 0;
    border-bottom: 1px solid #20558a;
    /* decoration */
    border-radius: 3px;
    background: #1E90FF;
    box-shadow: 0px 2px 3px rgb(0, 0, 0, 0.2);
    /* font / text */
    line-height: 1.1;
    color: rgb(0,0,0,0.7);
    font-size: 1.1rem;
    font-weight: 800;
    text-shadow: 0px 1px 0px rgb(255, 255, 255, 0.2);
    cursor: pointer;
}

.btn:hover {
	background: #1876d6;
}

.btn_warning {
	background: #de4d3a;
	border-color: #63221a;
}

.btn_warning:hover {
	background: #a8392c;
}

/* ----------------------------------------------------------------------
Page Title
---------------------------------------------------------------------- */

.pageTitle {
	padding-bottom: 1px;
	margin: 0 0 30px;
	position: relative;
}

.pageTitle:before {
	content: "";
	display: block;
	width: 80%;
	background-color: rgb(0,0,0,0.3);
	position: absolute;
	bottom: 0;
}

.pageTitle > * {
	margin: 0;
}

.pageTitle > * + * {
	margin-top: 10px;
}

.pageTitle-main {
	color: #37668c;
	font-size: 1.8rem;
	font-weight: 600;
}

.pageTitle-sub {
	color: #7f7f8a;
	font-size: 1rem;
}
